@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
body {
  position: relative;
}

nav {
  background-color: white;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.icon-socialmedia {
  color: black;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: #272626;
  font-size: 24vw;
  text-align: left;
  font-family: "Merriweather", serif;
}
.flex-column {
  flex-direction: row !important;
}
.main-p-text {
  font-family: "Merriweather", serif;
  text-align: left;
  font-size: 2rem;
}

.arrow {
  font-size: 4rem;
  color: #000;
  animation: bounce 2s infinite;
  margin-top: 1rem;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
#particles-js {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
}

.main {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
}

.main-container {
  height: 100vh;
  display: flex;
  background-color: #ffffff;
}
#particles-js {
  width: auto;
  height: 100%;
}

/* FIRST SECTION */
.info-list {
  list-style: none;
  padding: 0;
}
.info-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.info-item i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

#section1 {
  background-color: #ffdc14;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  position: relative;
}

.img-fluid {
  height: 40rem;
  width: 40rem;
}

.section-1-container {
  color: rgb(0, 0, 0);
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.about-innner-container {
  margin-bottom: 2rem;
}

/* SECOND SECTION */
.about-title {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  margin-top: 2rem;
}
#section2 {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 2rem;
}

.card {
  margin-top: 2rem;
}

.card-element {
  margin-bottom: 2rem;
}

.experience-title {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  margin-top: 2rem;
}

/* FORTH SECTION */

#section3 {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background-color: #ff7d32;
  position: relative;
  overflow-y: scroll;
}

.progress {
  height: 2rem;
}

.skill-main-title {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  margin-top: 2rem;
  color: white;
}

.skill-title {
  color: white;
}

/* FITH  SECTION */

#section4 {
  font-family: "Merriweather", serif;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background-color: #ffffff;
}

.education-title {
  font-size: 3rem;
  margin-top: 2rem;
}

/* SIXTH */

.btnvisit {
  margin: 0 1rem 1rem 1rem;
}
#section6 {
  background-color: #dbdbdb;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
  width: auto;
}
.card {
  margin-top: 0rem;
}

.project-title {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  padding-top: 4rem;
}

/* FOOTER */

footer {
  background-color: #95d0a9;
  height: 15rem;
}

.footer-ul {
  padding-top: 1rem;
}

.footer-bottom {
  padding-top: 2rem;
}
